@import '~bootstrap/scss/bootstrap';

body {
  background-color: #f2f1f1;
}

.titleClass {
  text-align: center;
}

#sgOut {
  text-align: right;
  display: none;
}

#cgPss {
  display: none;
}

.dadBod {
  display: none;
}

h1 {
  font-family: 'Mountains of Christmas', cursive;
  font-size: 100px;
}

h3 {
  font-family: 'Mountains of Christmas', cursive;
  font-size: 40px;
}

.btn {
  background-color: #dbffff;
  color: black;
  font-family: 'Amatic SC', cursive;
  font-weight: bold;
  font-size: 20px;
}

.modal-title {
  font-family: 'Amatic SC', cursive;
  font-weight: bold;
  font-size: 20px;
}

.border {
  font-family: 'Amatic SC', cursive;
  font-weight: bold;
  font-size: 20px;
}

.btn:hover {
  background: white;
  color: black;
}

.create {
  text-align: left;
}

.get {
  text-align: left;
}
