@import '~bootstrap/scss/bootstrap';

body {
  background: url('../../public/Sick_Snowboarding.jpg') 20% 20% no-repeat;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.opening {
  display: inline-block;
  text-align: center;
}

.bullet {
  text-align: center;
  display: none;
  overflow: auto;
  height: 350px;
}

.alert {
  font-family: 'Permanent Marker', cursive;
}

.fullBody {
  -webkit-flex: 3;
  -ms-flex: 3;
  flex: 3;
  padding: 10px;
}

.title {
  text-align: center;
  font-family: 'Permanent Marker', cursive;
  color: #dcf3ff;
  // text-shadow:
  //   -1px -1px 0 #2b879e,
  //   1px -1px 0 #2b879e,
  //   -1px 1px 0 #2b879e,
  //   1px 1px 0 #2b879e;
}

.titleClass {
  position: absolute;
  top: 50%;
  left: 50%;
  margin-top: -50px;
  margin-left: -50px;
  width: 100px;
  height: 100px;
  font-family: 'Permanent Marker', cursive;
  color: white;
  text-shadow:
    -1px -1px 0 #000,
    1px -1px 0 #000,
    -1px 1px 0 #000,
    1px 1px 0 #000;
}

h1 {
  font-size: 200px;

}

#sgOut {
  text-align: right;
  display: none;
}

#cgPss {
  display: none;
}

.dadBod {
  display: none;
}

.bittyBody {
  display: none;
}

section {
  display: -webkit-flex;
  display: flex;
}

button.link {
  background: none;
  border: none;
  padding: 5px;
  font-family: 'Permanent Marker', cursive;
}

article {
  -webkit-flex: 3;
  -ms-flex: 3;
  flex: 3;
  padding: 10px;
  text-align: center;
  background-color: #ccc;
}


nav {
  -webkit-flex: 1;
  -ms-flex: 1;
  flex: 1;
  padding: 20px;
}

.flexNav {
  text-align: center;
  -webkit-flex: 1;
  -ms-flex: 1;
  flex: 1;
  background: white;
  padding: 20px;
}

h3 {
  font-family: 'Permanent Marker', cursive;
  font-size: 40px;
  text-shadow:
    -1px -1px 0 #000,
    1px -1px 0 #000,
    -1px 1px 0 #000,
    1px 1px 0 #000;
  color: #dcf3ff;
}

.form-group {
  font-family: 'Permanent Marker', cursive;
  font-weight: bold;
  font-size: 20px;
}

.getContent {
  font-weight: bold;
  font-family: 'Permanent Marker', cursive;
}

.content {
  font-weight: bold;
  font-family: 'Permanent Marker', cursive;
}

.brandContent {
  font-weight: bold;
  font-family: 'Permanent Marker', cursive;
}

.btn {
  background-color: white;
  color: white;
  font-family: 'Permanent Marker', cursive;
  // font-weight: bold;
  font-size: 15px;
  text-shadow:
    -1px -1px 0 #000,
    1px -1px 0 #000,
    -1px 1px 0 #000,
    1px 1px 0 #000;
}

.modal-header {
  background-color: #777;
  color: white;
  text-shadow:
    -1px -1px 0 #000,
    1px -1px 0 #000,
    -1px 1px 0 #000,
    1px 1px 0 #000;
}

.modal-footer {
  background-color: #777;
  color: white;
  text-shadow:
    -1px -1px 0 #000,
    1px -1px 0 #000,
    -1px 1px 0 #000,
    1px 1px 0 #000;
}

.modal-title {
  font-family: 'Permanent Marker', cursive;
  font-weight: bold;
  font-size: 20px;
}

.border {
  font-family: 'Permanent Marker', cursive;
  font-weight: bold;
  font-size: 20px;
}

.btn:hover {
  background: #dcf3ff;
  color: white;
}

.break {
  height: 200px;
}

.cpr {
  float: left;
  padding-left: 20px;
  -webkit-flex: 1;
  -ms-flex: 1;
  flex: 1;
}

.fullName {
  float: right;
  padding-right: 20px;
  -webkit-flex: 1;
  -ms-flex: 1;
  flex: 1;
}

footer {
  background-color: #777;
  color: white;
  position: fixed;
  right: 0;
  bottom: 0;
  left: 0;
  height: 30px;
  text-align: center;
}
